[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiosqlite = "*"
quart = "*"
aiohttp = "*"
hypercorn = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
